<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Added MDC fields requestId and userId -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level [%thread] req=%X{requestId:-NA} user=%X{userId:-anon} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Existing logger level customizations -->
    <logger name="org.flywaydb" level="INFO"/>
    <logger name="Exposed" level="INFO"/>
    <logger name="io.ktor" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
